<div class="card" style="width: 33rem;">
  <img class="card-img-top image-fluid"  src="{{ recipe.imagePath}}" alt="{{ recipe.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.name }}</h5>
    <p class="card-text">{{ recipe.description }}</p>
  </div>

  <div class="card-footer">
    <a href="javascript:void(0)" class="btn btn-primary">Edit</a>
    <a href="javascript:void(0)" class="btn btn-success">Add to cart</a>
    <a href="javascript:void(0)" class="btn btn-danger">Delete</a>

  </div>
</div>
