<div class="card" style="width: 33rem;">
  <img class="card-img-top image-fluid"  src="{{ recipe.imagePath}}" alt="{{ recipe.name }}">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.name }}</h5>
    <p class="card-text">{{ recipe.description }}</p>
  </div>

  <div class="card-footer">
    <a href="javascript:void(0)" class="btn btn-primary" (click)="onEditRecipe()">Edit</a>
    <a href="javascript:void(0)" class="btn btn-success" (click)="onAddToShoppingList()">Add shopping list</a>
    <a href="javascript:void(0)" class="btn btn-danger" (click)="onDeleteRecipe()">Delete</a>
  </div>
  <div class="list-group" *ngFor="let ingredient of recipe.ingredients">
    <li class="list-group-item">{{ingredient.name}} ({{ingredient.amount}}) </li>
  </div>
</div>
